<div class="pl-pop-up">
  <div class="modal-header">
    {{popupContent.title}}
    <a class="close" (click)="closeModal()">&times;</a>
  </div>
  <div class="modal-body">
    <!-- Adding || Editing -->
    <form [formGroup]="queryForm" *ngIf="popupContent?.title.split(' ')[0] !== 'Delete'; else deleteBlock">
      <!-- Query Form Field -->
      <div class="form-group"
           *ngIf="
           !(popupContent.title.split(' ')[1] === 'Question') &&
           !(popupContent.title.split(' ')[1] === 'Image') &&
           !(popupContent.title.split(' ')[1] === 'Message') &&
           !(popupContent.title.split(' ')[1] === 'User') &&
           !(popupContent.title.split(' ')[1] === 'Video')">
        <input type="text" formControlName="query" class="form-control" [placeholder]="popupContent.placeholder">
        <!--errors-->
        <div *ngIf="query.errors && query.touched">
          <small *ngIf="query.errors.required" class="text-red">
            This field is required
          </small>
        </div>
      </div>

      <!-- Option form field. used in changing categories for subjects -->
      <div class="form-group" *ngIf="popupContent.title === 'Edit Subject'">
        <select type="text" formControlName="options" class="form-control">
          <option value="" selected>Change Category</option>
          <option *ngFor="let c of categories" value="{{c?._id}}">{{c?.title}}</option>
        </select>
        <!--errors-->
        <div *ngIf="options?.errors && options?.touched">
          <small *ngIf="options?.errors.required" class="text-red">
            This field is required
          </small>
        </div>
      </div>

      <!-- User Phone Number and courses -->
      <div *ngIf="(popupContent.title.split(' ')[1] === 'User')">
        <!-- Phone Number -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
          <!-- errors -->
          <div *ngIf="phoneNumber?.errors && phoneNumber?.touched">
            <small *ngIf="phoneNumber?.errors.required" class="text-red">
              This field is required
            </small>
            <small *ngIf="!phoneNumber?.errors.required && phoneNumber?.errors.patternFail" class="text-red">
              Enter a Valid Phone Number
            </small>
          </div>
        </div>

        <!-- Courses -->
        <ejs-multiselect [fields]="localFields" [value]="value" [dataSource]="subjects" [placeholder]="'Courses'" [formControlName]="'courses'"></ejs-multiselect>
        <!-- errors -->
        <div *ngIf="courses?.errors && courses?.touched">
          <small *ngIf="courses?.errors.required" class="text-red">
            This Field is required
          </small>
        </div>
      </div>

      <!-- Subject Author, Duration and Other Details -->
      <div *ngIf="(popupContent.title.split(' ')[1] === 'Subject')">
        <!-- Author -->
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Author" formControlName="author">
              <!-- errors -->
              <div *ngIf="author?.errors && author?.touched">
                  <small *ngIf="author?.errors.required" class="text-red">
                      This field is required
                  </small>
              </div>
          </div>

        <!-- Other Details -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Other Details" formControlName="otherDetails">
          <!-- errors -->
          <div *ngIf="otherDetails?.errors && otherDetails?.touched">
            <small *ngIf="otherDetails?.errors.required" class="text-red">
              Other Details is required
            </small>
          </div>
        </div>

        <!-- Duration -->
          <div class="form-group">
              <select class="form-control" formControlName="duration">
                <option value="">Select Duration</option>
                <option value="Short Course">Short Course</option>
                <option value="Takes a little while">Long Course</option>
              </select>
          </div>
          <!-- errors -->
          <div *ngIf="duration?.errors && duration?.touched">
              <small *ngIf="duration?.errors.required" class="text-red">
                  This field is required
              </small>
          </div>
      </div>

      <!-- Recommended and featured settings for subjects -->
      <div class="my-4" *ngIf="popupContent.title === 'Edit Subject' && !popupContent.content.draft">
        <div class="form-check mb-2">
          <input type="checkbox" formControlName="featured" class="form-check-input" id="featured">
          <label class="form-check-label" for="featured">Featured</label>
        </div>
        <div class="form-check">
          <input type="checkbox" formControlName="recommended" class="form-check-input" id="recommended">
          <label class="form-check-label" for="recommended">Recommended</label>
        </div>
      </div>

      <!-- image || Video Form Field -->
      <div formGroupName="upload" *ngIf="
      popupContent.title.split(' ')[1] === 'Image' ||
      popupContent.title.split(' ')[1] === 'Video'">
          <div class="form-group">
            <input type="file" (change)="file = $event.target.files[0]"
                   formControlName="content" class="form-control">
            <!--errors-->
            <div *ngIf="content.errors && content.touched">
              <small *ngIf="content.errors.required" class="text-red">
                This field is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="caption" class="form-control" [placeholder]="'caption'">
            <!--errors-->
            <div *ngIf="caption.errors && caption.touched">
              <small *ngIf="caption.errors.required" class="text-red">
                This field is required
              </small>
            </div>
          </div>
      </div>

      <!-- Messages -->
      <div formGroupName="message" *ngIf="popupContent.title.split(' ')[1] === 'Message'">
        <!--<div class="form-group">-->
        <!--<textarea rows="10" type="text" class="form-control" formControlName="content"></textarea>-->
          <!--&lt;!&ndash;errors&ndash;&gt;-->
          <!--<div *ngIf="message?.content?.errors && message?.content?.touched">-->
            <!--<small *ngIf="message.content?.errors?.required" class="text-red">-->
              <!--This field is required-->
            <!--</small>-->
          <!--</div>-->
        <!--</div>-->
          <ckeditor [editor]="editor" [data]="editorData" [config]="editorConfig" (change)="editorOnChange($event)"></ckeditor>
      </div>

      <!-- Form fields for questions -->
      <div formGroupName="question" *ngIf="popupContent.title.split(' ')[1] === 'Question'">
        <div *ngFor="let quest of question.controls; let i = index" class="border p-2 mb-2">
          <div class="close btn-light p-1" style="cursor: pointer" (click)="removeControl('question', i)">
            &times;
          </div>
          <div [formGroupName]="i" class="row">
            <!--question-->
            <div class="col-md-12">
              <label for="question">Question</label>
              <div class="form-group">
            <textarea class="form-control" id="question" placeholder="Question"
                      formControlName="ques"></textarea>
                <!--errors-->
                <div *ngIf="quest?.controls?.ques?.errors && quest?.controls?.ques?.touched">
                  <small *ngIf="quest?.controls?.ques?.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <!-- option 1-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="option1">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input"
                             value="a"
                             formControlName="rightAnswer">Option 1
                    </label>
                  </div>
                </label>
                <input type="text" #option1 id="option1" formControlName="op1" class="form-control" [placeholder]="'Option 1'">
                <!--errors-->
                <div *ngIf="quest?.controls?.op1.errors && quest?.controls?.op1.touched">
                  <small *ngIf="quest?.controls?.op1.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <!-- option 2-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="option2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input"
                             value="b"
                             formControlName="rightAnswer">Option 2
                    </label>
                  </div>
                </label>
                <input type="text" #option2 id="option2" formControlName="op2" class="form-control"
                       [placeholder]="'Option 2'">
                <!--errors-->
                <div *ngIf="quest?.controls?.op2.errors && quest?.controls?.op2.touched">
                  <small *ngIf="quest?.controls?.op2.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <!-- option 3-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="option3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input"
                             value="c"
                             formControlName="rightAnswer">Option 3
                    </label>
                  </div>
                </label>
                <input type="text" #option3 id="option3" formControlName="op3" class="form-control"
                       [placeholder]="'Option 3'">
                <!--errors-->
                <div *ngIf="quest?.controls?.op3.errors && quest?.controls?.op3.touched">
                  <small *ngIf="quest?.controls?.op3.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <!-- option 4-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="option4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input"
                             value="d"
                             formControlName="rightAnswer">Option 4
                    </label>
                  </div>
                </label>
                <input type="text" #option4 id="option4" formControlName="op4" class="form-control"
                       [placeholder]="'Option 4'">
                <!--errors-->
                <div *ngIf="quest?.controls?.op4.errors && quest?.controls?.op4.touched">
                  <small *ngIf="quest?.controls?.op4.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <!-- success message-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="success">
                  Success Message
                </label>
                <input type="text" id="success" formControlName="success" class="form-control"
                       [placeholder]="'Success Message'">
                <!--errors-->
                <div *ngIf="quest?.controls?.success.errors && quest?.controls?.success.touched">
                  <small *ngIf="quest?.controls?.success.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <!-- failure message-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="failure">
                  Success Message
                </label>
                <input type="text" id="failure" formControlName="failure" class="form-control"
                       [placeholder]="'Failure Message'">
                <!--errors-->
                <div *ngIf="quest?.controls?.failure.errors && quest?.controls?.failure.touched">
                  <small *ngIf="quest?.controls?.failure.errors.required" class="text-red">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>

      <!-- coursepack image, Author and Duration-->
      <div *ngIf="(popupContent.title.split(' ')[1] === 'Subject')">
          <div class="mb-3 font-weight-bold">Image
                <span class="small font-weight-light text-muted">
                (accepted image type are .jpg, .jpeg and .png)
            </span>
            </div>
          <hr>
          <div class="mb-3 d-flex justify-content-center">
                <div class="upload-container">
                    <div>
                        <input class="form-control d-none" type="file"
                               (change)="imageUpload($event)" #Image formControlName="image">
                    </div>
                    <div class="error small text-danger font-weight-bold mb-1" *ngIf="imageError">{{imageError}}</div>
                    <div *ngIf="imgUrl; else uploadBlock">
                        <img [src]="imgUrl" width="250" class="cursor-pointer" (click)="Image.click()" title="Change image">
                    </div>
                    <ng-template #uploadBlock>
                        <div class="text-center cursor-pointer image-upload d-flex justify-content-center align-items-center"
                             (click)="Image.click()" title="Upload image">
                            <fa-icon [icon]="faPlus" [size]="'3x'"></fa-icon>
                        </div>
                    </ng-template>
                </div>
            </div>
      </div>

      <!--Add more formcontrol -->
      <div class="my-3 d-flex justify-content-end" *ngIf="(popupContent.title === 'Add Question')">
        <button class="btn btn-light" (click)="addControl(type)">
          Add more &nbsp;
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>

      <button class="btn btn-blue btn-block" [disabled]="queryForm.invalid || showLoader"
              [class.disabled]="queryForm.invalid || showLoader"
              (click)="action()">
        {{popupContent.button}}
        <div class="float-right" *ngIf="showLoader">
          <pl-loader [data]="loaderData"></pl-loader>
        </div>
      </button>
    </form>

    <!-- Deleting -->
    <ng-template #deleteBlock>
      <div class="delete-block">
        <div class="text">
          <h5 class="text-red font-weight-bold mb-3">Are you sure you want to delete this {{popupContent.title.split(' ')[1]}}?</h5>
          <p class="">Deleting this {{popupContent.title.split(' ')[1]}} will remove it and all its sub components</p>
        </div>
        <div class="buttons mt-4 d-flex justify-content-end">
          <button class="btn btn-red mx-2" type="button" (click)="action()">Yes</button>
          <button class="btn btn-blue mx-2" type="button" (click)="closeModal()">No</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>

