$blue: #0277BD;

$mid-green: #5cdb95;
$light-green: #8ee4af;
$dark-green: #379683;
$dark-blue: #0b569b;
$light-color: #edf5e1;
$white: #ffffff;
$danger: #d64538;
$text-light: #505f79;
$bg-light: rgba(9, 30, 66, 0.04);
$bg-light-hover: rgba(9, 30, 66, 0.04);

